In [1]:
from bs4 import BeautifulSoup
import requests
from http.cookiejar import MozillaCookieJar 
import re

In [2]:
s = requests.Session()
jar = MozillaCookieJar('cookies.txt')
jar.load()
jar

<MozillaCookieJar[Cookie(version=0, name='accessAgeDisclaimerPH', value='1', port=None, port_specified=False, domain='.pornhub.com', domain_specified=True, domain_initial_dot=True, path='/', path_specified=False, secure=False, expires=1720431349, discard=False, comment=None, comment_url=None, rest={}, rfc2109=False), Cookie(version=0, name='bs', value='ahwaj7vck2n2lo7d294k75vo4d4szkcg', port=None, port_specified=False, domain='.pornhub.com', domain_specified=True, domain_initial_dot=True, path='/', path_specified=False, secure=True, expires=2007459919, discard=False, comment=None, comment_url=None, rest={}, rfc2109=False), Cookie(version=0, name='ss', value='498395242384798114', port=None, port_specified=False, domain='.pornhub.com', domain_specified=True, domain_initial_dot=True, path='/', path_specified=False, secure=True, expires=1720431345, discard=False, comment=None, comment_url=None, rest={}, rfc2109=False), Cookie(version=0, name='__l', value='64DB654B-42FE722901BB7AB3-2565DBAE', port=None, port_specified=False, domain='www.pornhub.com', domain_specified=False, domain_initial_dot=False, path='/pornstar', path_specified=False, secure=True, expires=1723656845, discard=False, comment=None, comment_url=None, rest={}, rfc2109=False)]>

In [3]:
r = requests.get('https://www.pornhub.com/pornstar/videos_overview?pornstar=riley-reid', cookies=jar)

In [8]:
def get_views(link):
    global s, jar
    print(link)
    r = requests.get(link, cookies=jar)
    print(r)
    soup = BeautifulSoup(r.text, 'html.parser')
    star_info = soup.find('div', class_='infoBox videoViews tooltipTrig') or soup.find('div', class_='tooltipTrig infoBox videoViews')

    if star_info:
        multiply = 1
        print(star_info.title)
        number = int(''.join(re.findall('\d',star_info.text))) * multiply
        return number
    else:
        return -1

In [9]:
get_views("https://www.pornhub.com/pornstar/videos_overview?pornstar=riley-reid")

https://www.pornhub.com/pornstar/videos_overview?pornstar=riley-reid
<Response [200]>
None

18

In [45]:
for i in result:
    print(i)
    print('-----------')

<div class="infoPiece"><span>Born:</span>
							1981-04-21</div>
-----------
<div class="infoPiece"><span>Birthplace:</span>
							Syracuse, New York, United States of America</div>
-----------
<div class="infoPiece"><span>Height:</span>
							5 ft 8 in (173 cm)</div>
-----------
<div class="infoPiece"><span>Weight:</span>
							121 lbs (55 kg)</div>
-----------

In [52]:
informations = {}
for line in result:
    html = str(line)
    # Parsowanie obiektu bs4.tag
    soup = BeautifulSoup(html, 'html.parser')

    # Znajdź div z klasą "infoPiece"
    div = soup.find('div', class_='infoPiece')

    # Wydobywanie tekstu ze znacznika span i div
    span_text = div.find('span').get_text()
    div_text = div.get_text().replace(':','')

    # Usuń tekst ze znacznika span od tekstu div
    value = div_text.replace(span_text, '').strip()
    if span_text in ('Height:','Weight:'):
        value = value[value.find("(")+1:value.find(")")]
    else:
        value = value.split('\t')[-1]
    # Stwórz słownik
    informations[span_text] = value

{'Born:': '1981-04-21', 'Birthplace:': 'Syracuse, New York, United States of America', 'Height:': '173 cm', 'Weight:': '55 kg'}

In [23]:
soup = BeautifulSoup(r.text, 'html.parser')

In [24]:
star_info = soup.find('div', class_='infoBox videoViews tooltipTrig')
int(''.join(re.findall('\d',star_info.text)))

2333118

In [29]:
def get_views_count(link):
    s = requests.Session()
    jar = MozillaCookieJar('cookies.txt')
    jar.load()
    r = requests.get(link, cookies=jar) 
    soup = BeautifulSoup(r.text, 'html.parser')
    star_info = soup.find('div', class_='infoBox videoViews tooltipTrig')
    return int(''.join(re.findall('\d',star_info.text)))

In [30]:
print(get_views_count("https://www.pornhub.com/pornstar/videos_overview?pornstar=aali-kali"))

AttributeError: 'NoneType' object has no attribute 'text'

In [27]:
with open('stars.csv','r') as file:
    links = []
    for line in file:
        links.append(line.split(',')[1])
    links = links[1:]

In [28]:
for view in 
    print(view)

SyntaxError: invalid syntax (2576894402.py, line 1)

In [1]:
from datetime import date

In [3]:
test = '1967-01-20'
date.fromisoformat(test) - date.today()

datetime.timedelta(days=-20740)

In [7]:
t = ((3,None),(1,None))

dict(t)

{3: None, 1: None}

In [1]:
import pandas as pd

In [27]:
df_info = pd.read_csv('data/information/general_information.csv',header=0,na_values=['None'])
gender_options = list(df_info['Gender'].dropna().unique())
ethnicity_options = list(df_info['Ethnicity'].dropna().unique())
location_option = list(df_info['Birthplace'].dropna().unique())
min_age = df_info['Age'].min()
max_age = df_info['Age'].max()
min_weight = df_info['Weight'].min()
max_weight = df_info['Weight'].max()
min_height = df_info['Height'].min()
max_height = df_info['Height'].max()

In [28]:
print(ethnicity_options)
print(gender_options)
print(location_option)
print(min_age,max_age)
print(min_height,max_height)
print(min_weight,min_weight)

['White', 'Latin', nan, 'Other', 'Asian', 'Black', 'Middle Eastern', 'White|Black', 'White|Asian', 'Black|Latin', 'Indian', 'Latin|Asian', 'White|Latin']
['Female', 'Male', 'Couple', 'Trans Woman', 'Other', 'Non-Binary', 'Trans Man']
[nan, 'United States of America', 'Russia', 'United Kingdom', 'Brazil', 'Czech Republic', 'Ukraine', 'Jamaica', 'Spain', 'Romania', 'Japan', 'Belgium', 'Hungary', 'Mexico', 'Canada', 'Peru', 'Scotland', 'Poland', 'China', 'Germany', 'France', 'Cuba', 'Portugal', 'England', 'Taiwan', 'Puerto Rico', 'Iran', 'Philippines', 'Switzerland', 'New Zealand', 'Colombia', 'Netherlands', 'Albania', 'Ireland', 'Italy', 'Panama', 'Australia', 'Slovakia', 'Serbia', 'Israel', 'Florida', 'Venezuela', 'Republic of', 'Novosibirsk', 'Norway', 'India', 'Greece', 'Wales', 'Indonesia', 'Austria', 'Bangladesh', 'Chile', 'South Africa', 'Kazakhstan', 'Singapore', 'Vietnam', 'Bahamas', 'London', 'Barbados', 'Sweden', 'Honduras', 'Lebanon', 'Thailand', 'Pakistan', 'Malaysia', 'Belarus', 'El Salvador', 'Finland', 'Croatia', 'Latvia', 'Morocco']
22.0 83.0
132.0 198.0
33.0 33.0

In [1]:
import pandas as pd
from functions import read_all_data
import os
from datetime import date, timedelta
import numpy as np

In [2]:
df = read_all_data()

In [41]:
def create_summaries(df) -> pd.DataFrame:

    df_pivoted = df.pivot_table(index='star',columns='date',values='views').reset_index()
    newest = df_pivoted.columns[-1]

    df_pivoted = df_pivoted.dropna(subset=newest)

    newest_date = date.fromisoformat(newest)
    diff_7d = (newest_date - timedelta(days=7)).isoformat()
    diff_14d = (newest_date - timedelta(days=14)).isoformat()


    # creating cols and filling nans
    if diff_7d not in df_pivoted.columns:
        df_pivoted[diff_7d] = pd.NA

    to_chechk_date = date.fromisoformat(diff_7d)
    for _ in range(30):  

        to_chechk_date = to_chechk_date - timedelta(days=1)
        if not df_pivoted[diff_7d].isna().values.any():
                break
        
        if to_chechk_date.isoformat() in df_pivoted.columns:
            df_pivoted[diff_7d].fillna(df_pivoted[to_chechk_date.isoformat()], inplace=True)
            


    if diff_14d not in df_pivoted.columns:
        df_pivoted[diff_14d] = pd.NA

    to_chechk_date = date.fromisoformat(diff_14d)
    for _ in range(40):

        to_chechk_date = to_chechk_date - timedelta(days=1)
        if not df_pivoted[diff_14d].isna().values.any():
                break
        
        if to_chechk_date.isoformat() in df_pivoted.columns:
            df_pivoted[diff_14d].fillna(df_pivoted[to_chechk_date.isoformat()], inplace=True)
            
    
    # creating measurments
    df_pivoted['7d_%'] = 100 * (df_pivoted[newest] - df_pivoted[diff_7d]) / df_pivoted[diff_7d]
    df_pivoted['14d_%'] = 100 * (df_pivoted[newest] - df_pivoted[diff_14d]) / df_pivoted[diff_14d]
    df_pivoted['Current_Viewership'] = df_pivoted[newest]
    df_pivoted.drop(columns=df_pivoted.columns[1:-3], inplace=True)
    
    # adding general information
    df_info = pd.read_csv('data/information/general_information.csv',na_values=['None'],header=0)
    df_pivoted = df_pivoted.merge(df_info,on='star',how='inner')
    
    dtypes = {'star':'str',
              '7d_%':'float64',
              '14d_%': 'float64',
              'Current_Viewership':'Int64',
              'Age':'Int64',
              'Birthplace':'string',
              'Height':'Int64',
              'Weight':'Int64',
              'Gender':'string',
              'Ethnicity':'string',
              'Cost($)':'float64'     
    }


    return df_pivoted.astype(dtypes)

In [42]:
create_summaries(df)

,star,7d_%,14d_%,Current_Viewership,Age,Birthplace,Height,Weight,Gender,Ethnicity,Cost($)
0,AJ Applegate,0.416667,0.416667,241,<NA>,<NA>,157,54,Female,White,48.2
1,AJ Estrada,0.343845,0.488104,923346,26,United States of America,170,55,<NA>,<NA>,184649.4
2,AKGINGERSNAPS,0.000000,0.000000,205,<NA>,<NA>,170,57,Female,White,41.0
3,Aali Kali,0.000000,0.854701,118,<NA>,<NA>,168,54,Female,White,23.6
4,Aaliyah Hadid,0.383142,0.769231,262,<NA>,<NA>,168,51,Female,Latin,52.2
...,...,...,...,...,...,...,...,...,...,...,...
4456,vida valentine,0.351583,0.525022,1817033,42,United States of America,163,67,<NA>,<NA>,363372.4
4457,winnie,0.167395,0.354003,3951762,53,Hungary,163,52,<NA>,<NA>,790276.8
4458,xana star,0.126441,0.214027,225687,46,United States of America,165,58,<NA>,<NA>,45136.0
4459,yumi,0.332399,0.530249,14272955,42,Japan,157,45,<NA>,<NA>,2854244.2
4460,zana,0.041997,0.061883,533592,49,United States of America,170,54,<NA>,<NA>,106716.2

In [15]:
df_info.dtypes

star           object
Age           float64
Birthplace     object
Height        float64
Weight        float64
Gender         object
Ethnicity      object
Cost($)       float64
dtype: object

In [35]:
(test - timedelta(days=7)).isoformat()

'2023-10-28'

In [62]:
test = create_summaries(df).iloc[:5]
lista = [0,1,1,0,1]

In [63]:
test['results'] = lista
test

,star,7d_%,14d_%,Current_Viewership,Age,Birthplace,Height,Weight,Gender,Ethnicity,Cost($),results
0,AJ Applegate,0.416667,0.416667,241,<NA>,<NA>,157,54,Female,White,48.2,0
1,AJ Estrada,0.343845,0.488104,923346,26,United States of America,170,55,<NA>,<NA>,184649.4,1
2,AKGINGERSNAPS,0.000000,0.000000,205,<NA>,<NA>,170,57,Female,White,41.0,1
3,Aali Kali,0.000000,0.854701,118,<NA>,<NA>,168,54,Female,White,23.6,0
4,Aaliyah Hadid,0.383142,0.769231,262,<NA>,<NA>,168,51,Female,Latin,52.2,1

In [55]:
test = [(51220165065, 51818194775), (51818194775, 51818194775)]

In [60]:
[(i[0] - i[1])**2 for i in test]

[357639534042684100, 0]

In [64]:
list(test['Current_Viewership'])

0       241
1    923346
2       205
3       118
4       262
Name: Current_Viewership, dtype: Int64

In [66]:
np.array(list(test["Current_Viewership"]))

array([   241, 923346,    205,    118,    262], dtype=int64)

In [22]:
import sqlite3
import pandas as pd
from functions import

In [48]:
con = sqlite3.connect('database.db')
cursor = con.cursor()
dtypes_informations = {'Star':'text PRIMARY KEY', 'Age':'int', 'Birthplace':'int', 'Height':'int', 'Weight':'int', 'Gender':'varchar', 'Ethnicity':'varchar', 'Cost':'float'}

In [21]:
create_info_table_query = """CREATE TABLE IF NOT EXISTS general_information(
    Star text PRIMARY KEY,
    Age INTEGER,
    Birthplace VARCHAR,
    Height INTEGER,
    Weight INTEGER,
    Gender VARCHAR,
    Ethnicity VARCHAR,
    Cost FLOAT );
"""

cursor.execute(create_info_table_query)
con.commit()

In [49]:
df = pd.read_csv('data/information/general_information.csv',na_values=['None'],header=0)
df.head()

,Star,Age,Birthplace,Height,Weight,Gender,Ethnicity,Cost
0,Aali Kali,NaN,NaN,168.0,54.0,Female,White,23.6
1,Aaliyah Hadid,NaN,NaN,168.0,51.0,Female,Latin,52.2
2,Aaliyah Jolie,42.0,United States of America,173.0,55.0,NaN,NaN,469026.6
3,Aaliyah Love,NaN,NaN,157.0,48.0,Female,White,41.4
4,Aaralyn Barra,38.0,Russia,163.0,50.0,NaN,NaN,961388.0

In [51]:
df.to_sql('general_informations', con, if_exists='replace', dtype=dtypes_informations, index=False)

4463

In [25]:
con.commit()

In [6]:
bits = [1,0,0,0,1]
choosed_bits = [i for i,b in enumerate(bits) if b == 1]
choosed_bits

[0, 4]

In [11]:
dic = {0:42, 1:30, 2:100}
max_val = max(dic, key=dic.get)
print(dic[max_val], max_val)

100 2